@model TGV.Model.Caminhao

@{
    ViewData["Title"] = "Edit";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header ">
            <p class="modal-title font-weight-bold text-white"> Adicionar Caminhão -@Model.Motorista.Nome</p>
            <button type="button" class="close col-footer btn-close-modal" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true" class="text-white">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <input hidden asp-for="Codigo" class="form-control" />
                        <input hidden asp-for="MOTORISTA_CODIGO" class="form-control" />
                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="Marca" class="control-label"></label>
                                <input asp-for="Marca" class="form-control" />
                                <span asp-validation-for="Marca" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-6">
                                <label asp-for="Modelo" class="control-label"></label>
                                <input asp-for="Modelo" class="form-control" />
                                <span asp-validation-for="Modelo" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-6">
                                <label asp-for="Placa" class="control-label"></label>
                                <input asp-for="Placa" class="form-control" />
                                <span asp-validation-for="Placa" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="Eixo" class="control-label"></label>
                                <input asp-for="Eixo" class="form-control" />
                                <span asp-validation-for="Eixo" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-6">
                                <label asp-for="Peso" class="control-label"></label>
                                <input asp-for="Peso" class="form-control" />
                                <span asp-validation-for="Peso" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
