@model TGV.Model.Viagem

@{
    ViewData["Title"] = "Delete";
}


<div class="card shadow">

    <div class="card-header py-1 text-center">
        <h5 class="m-1 font-weight-bold text-black">Deseja Excluir a Viagem - @Model.LocalSaida / @Model.LocalEntrega? </h5>
    </div>
    <div class="card-body">
        @{
            Html.RenderPartial("PartialViewDetalhes");
        }




        <form asp-action="Delete">
            <input type="hidden" asp-for="Codigo" />
            <input type="submit" value="Excluir" class="btn btn-block btn-danger" />
        </form>

        <br />
        <div>
            <a class="btn btn-light" asp-action="Index">Voltar a lista de viagens</a>
        </div>
    </div>
</div>
