@model TGV.Model.Viagem

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow">

    <div class="card-header py-1 text-center">
        <h5 class="m-1 font-weight-bold text-black">Viagem - @Model.LocalSaida / @Model.LocalEntrega </h5>
    </div>
    <div class="card-body">
        @{
            Html.RenderPartial("PartialViewDetalhes");
        }
        <br />
        <div>
            <a class="btn btn-light" asp-action="Index">Voltar a lista de viagens</a>
        </div>
    </div>
</div>
