<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=tgvasp;Password=tgvasp1234;Data Source=oracle" />
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1"/>
          <add name="byte" precision="3" />
          <add name="int16" precision="4" />
          <add name="int32" precision="9" />
          <add name="int64" precision="18" />
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>